$('#notice').html('<span class="alert alert-block alert-success fade in" style="margin-left: 30px;">Los Arículos se han creado correctamente!</span>');
setInterval(function(){
    $('#notice').fadeOut('fast');
},3000);