[class^="sprite-"],
[class*=" sprite-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    #margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/assets/sprites.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.sprite-white,
.nav-pills > .active > a > [class^="sprite-"],
.nav-pills > .active > a > [class*=" sprite-"],
.nav-list > .active > a > [class^="sprite-"],
.nav-list > .active > a > [class*=" sprite-"],
.navbar-inverse .nav > .active > a > [class^="sprite-"],
.navbar-inverse .nav > .active > a > [class*=" sprite-"],
.dropdown-menu > li > a:hover > [class^="sprite-"],
.dropdown-menu > li > a:focus > [class^="sprite-"],
.dropdown-menu > li > a:hover > [class*=" sprite-"],
.dropdown-menu > li > a:focus > [class*=" sprite-"],
.dropdown-menu > .active > a > [class^="sprite-"],
.dropdown-menu > .active > a > [class*=" sprite-"],
.dropdown-submenu:hover > a > [class^="sprite-"],
.dropdown-submenu:focus > a > [class^="sprite-"],
.dropdown-submenu:hover > a > [class*=" sprite-"],
.dropdown-submenu:focus > a > [class*=" sprite-"] {
    background-image: url("/assets/sprites-white.png");
}

.sprite-glass{ background-position: 0 0; width: 14px; height: 14px; }
.sprite-leaf{ background-position: 0 -15px; width: 14px; height: 15px; }
.sprite-dog{ background-position: 0 -31px; width: 15px; height: 15px; }
.sprite-user{ background-position: 0 -47px; width: 13px; height: 13px; }
.sprite-girl{ background-position: 0 -61px; width: 13px; height: 13px; }
.sprite-car{ background-position: 0 -75px; width: 15px; height: 13px; }
.sprite-user_add{ background-position: 0 -89px; width: 16px; height: 13px; }
.sprite-user_remove{ background-position: 0 -103px; width: 15px; height: 13px; }
.sprite-film{ background-position: 0 -117px; width: 13px; height: 15px; }
.sprite-magic{ background-position: 0 -133px; width: 14px; height: 14px; }
.sprite-envelope{ background-position: 0 -148px; width: 14px; height: 9px; }
.sprite-camera{ background-position: 0 -158px; width: 15px; height: 12px; }
.sprite-heart{ background-position: 0 -171px; width: 14px; height: 13px; }
.sprite-beach_umbrella{ background-position: 0 -185px; width: 14px; height: 14px; }
.sprite-train{ background-position: 0 -200px; width: 12px; height: 15px; }
.sprite-print{ background-position: 0 -216px; width: 14px; height: 14px; }
.sprite-bin{ background-position: 0 -231px; width: 12px; height: 16px; }
.sprite-music{ background-position: 0 -248px; width: 12px; height: 15px; }
.sprite-note{ background-position: 0 -264px; width: 10px; height: 15px; }
.sprite-heart_empty{ background-position: 0 -280px; width: 14px; height: 13px; }
.sprite-home{ background-position: 0 -294px; width: 16px; height: 15px; }
.sprite-snowflake{ background-position: 0 -310px; width: 16px; height: 16px; }
.sprite-fire{ background-position: 0 -327px; width: 12px; height: 15px; }
.sprite-magnet{ background-position: 0 -343px; width: 12px; height: 13px; }
.sprite-parents{ background-position: 0 -357px; width: 19px; height: 13px; }
.sprite-binoculars{ background-position: 0 -371px; width: 14px; height: 14px; }
.sprite-road{ background-position: 0 -386px; width: 16px; height: 14px; }
.sprite-search{ background-position: 0 -401px; width: 14px; height: 14px; }
.sprite-cars{ background-position: 0 -416px; width: 21px; height: 15px; }
.sprite-notes_2{ background-position: 0 -432px; width: 12px; height: 16px; }
.sprite-pencil{ background-position: 0 -449px; width: 14px; height: 14px; }
.sprite-bus{ background-position: 0 -464px; width: 19px; height: 15px; }
.sprite-wifi_alt{ background-position: 0 -480px; width: 15px; height: 15px; }
.sprite-luggage{ background-position: 0 -496px; width: 12px; height: 16px; }
.sprite-old_man{ background-position: 0 -513px; width: 13px; height: 14px; }
.sprite-woman{ background-position: 0 -528px; width: 13px; height: 13px; }
.sprite-file{ background-position: 0 -542px; width: 11px; height: 14px; }
.sprite-coins{ background-position: 0 -557px; width: 15px; height: 14px; }
.sprite-airplane{ background-position: 0 -572px; width: 14px; height: 15px; }
.sprite-notes{ background-position: 0 -588px; width: 12px; height: 15px; }
.sprite-stats{ background-position: 0 -604px; width: 15px; height: 15px; }
.sprite-charts{ background-position: 0 -620px; width: 16px; height: 14px; }
.sprite-pie_chart{ background-position: 0 -635px; width: 15px; height: 15px; }
.sprite-group{ background-position: 0 -651px; width: 20px; height: 13px; }
.sprite-keys{ background-position: 0 -665px; width: 14px; height: 15px; }
.sprite-calendar{ background-position: 0 -681px; width: 13px; height: 14px; }
.sprite-router{ background-position: 0 -696px; width: 16px; height: 15px; }
.sprite-camera_small{ background-position: 0 -712px; width: 13px; height: 14px; }
.sprite-dislikes{ background-position: 0 -727px; width: 15px; height: 14px; }
.sprite-star{ background-position: 0 -742px; width: 15px; height: 14px; }
.sprite-link{ background-position: 0 -757px; width: 12px; height: 13px; }
.sprite-eye_open{ background-position: 0 -771px; width: 18px; height: 10px; }
.sprite-eye_close{ background-position: 0 -782px; width: 18px; height: 14px; }
.sprite-alarm{ background-position: 0 -797px; width: 16px; height: 15px; }
.sprite-clock{ background-position: 0 -813px; width: 14px; height: 14px; }
.sprite-stopwatch{ background-position: 0 -828px; width: 13px; height: 16px; }
.sprite-projector{ background-position: 0 -845px; width: 16px; height: 15px; }
.sprite-history{ background-position: 0 -861px; width: 15px; height: 15px; }
.sprite-truck{ background-position: 0 -877px; width: 19px; height: 16px; }
.sprite-cargo{ background-position: 0 -894px; width: 15px; height: 15px; }
.sprite-compass{ background-position: 0 -910px; width: 14px; height: 14px; }
.sprite-keynote{ background-position: 0 -925px; width: 12px; height: 17px; }
.sprite-paperclip{ background-position: 0 -943px; width: 15px; height: 14px; }
.sprite-power{ background-position: 0 -958px; width: 13px; height: 14px; }
.sprite-lightbulb{ background-position: 0 -973px; width: 12px; height: 15px; }
.sprite-tag{ background-position: 0 -989px; width: 14px; height: 14px; }
.sprite-tags{ background-position: 0 -1004px; width: 17px; height: 14px; }
.sprite-cleaning{ background-position: 0 -1019px; width: 14px; height: 15px; }
.sprite-ruller{ background-position: 0 -1035px; width: 16px; height: 8px; }
.sprite-gift{ background-position: 0 -1044px; width: 14px; height: 15px; }
.sprite-umbrella{ background-position: 0 -1060px; width: 15px; height: 16px; }
.sprite-book{ background-position: 0 -1077px; width: 13px; height: 14px; }
.sprite-bookmark{ background-position: 0 -1092px; width: 9px; height: 14px; }
.sprite-wifi{ background-position: 0 -1107px; width: 18px; height: 13px; }
.sprite-cup{ background-position: 0 -1121px; width: 13px; height: 14px; }
.sprite-stroller{ background-position: 0 -1136px; width: 15px; height: 15px; }
.sprite-headphones{ background-position: 0 -1152px; width: 14px; height: 14px; }
.sprite-headset{ background-position: 0 -1167px; width: 14px; height: 16px; }
.sprite-warning_sign{ background-position: 0 -1184px; width: 17px; height: 14px; }
.sprite-signal{ background-position: 0 -1199px; width: 14px; height: 14px; }
.sprite-retweet{ background-position: 0 -1214px; width: 16px; height: 9px; }
.sprite-refresh{ background-position: 0 -1224px; width: 15px; height: 15px; }
.sprite-roundabout{ background-position: 0 -1240px; width: 15px; height: 15px; }
.sprite-random{ background-position: 0 -1256px; width: 16px; height: 12px; }
.sprite-heat{ background-position: 0 -1269px; width: 17px; height: 15px; }
.sprite-repeat{ background-position: 0 -1285px; width: 13px; height: 15px; }
.sprite-display{ background-position: 0 -1301px; width: 16px; height: 14px; }
.sprite-log_book{ background-position: 0 -1316px; width: 13px; height: 14px; }
.sprite-adress_book{ background-position: 0 -1331px; width: 13px; height: 14px; }
.sprite-building{ background-position: 0 -1346px; width: 14px; height: 15px; }
.sprite-eyedropper{ background-position: 0 -1362px; width: 14px; height: 14px; }
.sprite-adjust{ background-position: 0 -1377px; width: 15px; height: 15px; }
.sprite-tint{ background-position: 0 -1393px; width: 14px; height: 15px; }
.sprite-crop{ background-position: 0 -1409px; width: 15px; height: 15px; }
.sprite-vector_path_square{ background-position: 0 -1425px; width: 14px; height: 14px; }
.sprite-vector_path_circle{ background-position: 0 -1440px; width: 14px; height: 14px; }
.sprite-vector_path_polygon{ background-position: 0 -1455px; width: 15px; height: 15px; }
.sprite-vector_path_line{ background-position: 0 -1471px; width: 14px; height: 14px; }
.sprite-vector_path_curve{ background-position: 0 -1486px; width: 14px; height: 14px; }
.sprite-vector_path_all{ background-position: 0 -1501px; width: 14px; height: 14px; }
.sprite-font{ background-position: 0 -1516px; width: 16px; height: 13px; }
.sprite-italic{ background-position: 0 -1530px; width: 8px; height: 14px; }
.sprite-bold{ background-position: 0 -1545px; width: 11px; height: 14px; }
.sprite-text_underline{ background-position: 0 -1560px; width: 12px; height: 14px; }
.sprite-text_strike{ background-position: 0 -1575px; width: 12px; height: 13px; }
.sprite-text_height{ background-position: 0 -1589px; width: 15px; height: 14px; }
.sprite-text_width{ background-position: 0 -1604px; width: 13px; height: 14px; }
.sprite-text_resize{ background-position: 0 -1619px; width: 15px; height: 15px; }
.sprite-left_indent{ background-position: 0 -1635px; width: 14px; height: 13px; }
.sprite-right_indent{ background-position: 0 -1649px; width: 14px; height: 13px; }
.sprite-align_left{ background-position: 0 -1663px; width: 14px; height: 12px; }
.sprite-align_center{ background-position: 0 -1676px; width: 14px; height: 12px; }
.sprite-align_right{ background-position: 0 -1689px; width: 14px; height: 12px; }
.sprite-justify{ background-position: 0 -1702px; width: 14px; height: 12px; }
.sprite-list{ background-position: 0 -1715px; width: 14px; height: 12px; }
.sprite-text_smaller{ background-position: 0 -1728px; width: 13px; height: 9px; }
.sprite-text_bigger{ background-position: 0 -1738px; width: 14px; height: 13px; }
.sprite-embed{ background-position: 0 -1752px; width: 17px; height: 8px; }
.sprite-embed_close{ background-position: 0 -1761px; width: 17px; height: 14px; }
.sprite-table{ background-position: 0 -1776px; width: 14px; height: 14px; }
.sprite-message_full{ background-position: 0 -1791px; width: 14px; height: 16px; }
.sprite-message_empty{ background-position: 0 -1808px; width: 14px; height: 16px; }
.sprite-message_in{ background-position: 0 -1825px; width: 14px; height: 16px; }
.sprite-message_out{ background-position: 0 -1842px; width: 14px; height: 16px; }
.sprite-message_plus{ background-position: 0 -1859px; width: 17px; height: 13px; }
.sprite-message_minus{ background-position: 0 -1873px; width: 17px; height: 13px; }
.sprite-message_ban{ background-position: 0 -1887px; width: 17px; height: 13px; }
.sprite-message_flag{ background-position: 0 -1901px; width: 16px; height: 13px; }
.sprite-message_lock{ background-position: 0 -1915px; width: 16px; height: 14px; }
.sprite-message_new{ background-position: 0 -1930px; width: 16px; height: 13px; }
.sprite-inbox{ background-position: 0 -1944px; width: 14px; height: 13px; }
.sprite-inbox_plus{ background-position: 0 -1958px; width: 16px; height: 16px; }
.sprite-inbox_minus{ background-position: 0 -1975px; width: 16px; height: 16px; }
.sprite-inbox_lock{ background-position: 0 -1992px; width: 15px; height: 16px; }
.sprite-inbox_in{ background-position: -22px 0; width: 14px; height: 15px; }
.sprite-inbox_out{ background-position: -22px -16px; width: 14px; height: 15px; }
.sprite-cogwheel{ background-position: -22px -32px; width: 14px; height: 14px; }
.sprite-cogwheels{ background-position: -22px -47px; width: 20px; height: 16px; }
.sprite-picture{ background-position: -22px -64px; width: 14px; height: 12px; }
.sprite-adjust_alt{ background-position: -22px -77px; width: 13px; height: 14px; }
.sprite-database_lock{ background-position: -22px -92px; width: 15px; height: 16px; }
.sprite-database_plus{ background-position: -22px -109px; width: 16px; height: 16px; }
.sprite-database_minus{ background-position: -22px -126px; width: 16px; height: 16px; }
.sprite-database_ban{ background-position: -22px -143px; width: 15px; height: 16px; }
.sprite-folder_open{ background-position: -22px -160px; width: 17px; height: 13px; }
.sprite-folder_plus{ background-position: -22px -174px; width: 17px; height: 15px; }
.sprite-folder_minus{ background-position: -22px -190px; width: 17px; height: 15px; }
.sprite-folder_lock{ background-position: -22px -206px; width: 16px; height: 15px; }
.sprite-folder_flag{ background-position: -22px -222px; width: 16px; height: 15px; }
.sprite-folder_new{ background-position: -22px -238px; width: 16px; height: 14px; }
.sprite-edit{ background-position: -22px -253px; width: 14px; height: 12px; }
.sprite-new_window{ background-position: -22px -266px; width: 15px; height: 13px; }
.sprite-check{ background-position: -22px -280px; width: 13px; height: 10px; }
.sprite-unchecked{ background-position: -22px -291px; width: 10px; height: 10px; }
.sprite-more_windows{ background-position: -22px -302px; width: 13px; height: 13px; }
.sprite-show_big_thumbnails{ background-position: -22px -316px; width: 13px; height: 13px; }
.sprite-show_thumbnails{ background-position: -22px -330px; width: 13px; height: 13px; }
.sprite-show_thumbnails_with_lines{ background-position: -22px -344px; width: 14px; height: 9px; }
.sprite-show_lines{ background-position: -22px -354px; width: 14px; height: 9px; }
.sprite-playlist{ background-position: -22px -364px; width: 17px; height: 14px; }
.sprite-imac{ background-position: -22px -379px; width: 15px; height: 13px; }
.sprite-macbook{ background-position: -22px -393px; width: 16px; height: 9px; }
.sprite-ipad{ background-position: -22px -403px; width: 13px; height: 16px; }
.sprite-iphone{ background-position: -22px -420px; width: 8px; height: 14px; }
.sprite-iphone_transfer{ background-position: -22px -435px; width: 17px; height: 14px; }
.sprite-iphone_exchange{ background-position: -22px -450px; width: 17px; height: 14px; }
.sprite-ipod{ background-position: -22px -465px; width: 8px; height: 13px; }
.sprite-ipod_shuffle{ background-position: -22px -479px; width: 9px; height: 8px; }
.sprite-ear_plugs{ background-position: -22px -488px; width: 12px; height: 14px; }
.sprite-phone{ background-position: -22px -503px; width: 9px; height: 15px; }
.sprite-step_backward{ background-position: -22px -519px; width: 8px; height: 10px; }
.sprite-fast_backward{ background-position: -22px -530px; width: 15px; height: 10px; }
.sprite-rewind{ background-position: -22px -541px; width: 13px; height: 10px; }
.sprite-play{ background-position: -22px -552px; width: 9px; height: 10px; }
.sprite-pause{ background-position: -22px -563px; width: 6px; height: 9px; }
.sprite-stop{ background-position: -22px -573px; width: 8px; height: 8px; }
.sprite-forward{ background-position: -22px -582px; width: 13px; height: 10px; }
.sprite-fast_forward{ background-position: -22px -593px; width: 15px; height: 10px; }
.sprite-step_forward{ background-position: -22px -604px; width: 8px; height: 10px; }
.sprite-eject{ background-position: -22px -615px; width: 10px; height: 10px; }
.sprite-facetime_video{ background-position: -22px -626px; width: 14px; height: 9px; }
.sprite-download_alt{ background-position: -22px -636px; width: 14px; height: 14px; }
.sprite-mute{ background-position: -22px -651px; width: 13px; height: 9px; }
.sprite-volume_down{ background-position: -22px -661px; width: 9px; height: 9px; }
.sprite-volume_up{ background-position: -22px -671px; width: 14px; height: 15px; }
.sprite-screenshot{ background-position: -22px -687px; width: 16px; height: 16px; }
.sprite-move{ background-position: -22px -704px; width: 14px; height: 14px; }
.sprite-more{ background-position: -22px -719px; width: 13px; height: 3px; }
.sprite-brightness_reduce{ background-position: -22px -723px; width: 12px; height: 12px; }
.sprite-brightness_increase{ background-position: -22px -736px; width: 14px; height: 14px; }
.sprite-circle_plus{ background-position: -22px -751px; width: 15px; height: 15px; }
.sprite-circle_minus{ background-position: -22px -767px; width: 15px; height: 15px; }
.sprite-circle_remove{ background-position: -22px -783px; width: 15px; height: 15px; }
.sprite-circle_ok{ background-position: -22px -799px; width: 15px; height: 15px; }
.sprite-circle_question_mark{ background-position: -22px -815px; width: 15px; height: 15px; }
.sprite-circle_info{ background-position: -22px -831px; width: 15px; height: 15px; }
.sprite-circle_exclamation_mark{ background-position: -22px -847px; width: 15px; height: 15px; }
.sprite-remove{ background-position: -22px -863px; width: 15px; height: 15px; }
.sprite-ok{ background-position: -22px -879px; width: 15px; height: 15px; }
.sprite-ban{ background-position: -22px -895px; width: 15px; height: 15px; }
.sprite-download{ background-position: -22px -911px; width: 15px; height: 15px; }
.sprite-upload{ background-position: -22px -927px; width: 15px; height: 15px; }
.sprite-shopping_cart{ background-position: -22px -943px; width: 15px; height: 13px; }
.sprite-lock{ background-position: -22px -957px; width: 12px; height: 15px; }
.sprite-unlock{ background-position: -22px -973px; width: 12px; height: 15px; }
.sprite-electricity{ background-position: -22px -989px; width: 6px; height: 14px; }
.sprite-ok_2{ background-position: -22px -1004px; width: 15px; height: 11px; }
.sprite-remove_2{ background-position: -22px -1016px; width: 10px; height: 10px; }
.sprite-cart_out{ background-position: -22px -1027px; width: 15px; height: 15px; }
.sprite-cart_in{ background-position: -22px -1043px; width: 15px; height: 14px; }
.sprite-left_arrow{ background-position: -22px -1058px; width: 12px; height: 10px; }
.sprite-right_arrow{ background-position: -22px -1069px; width: 12px; height: 10px; }
.sprite-down_arrow{ background-position: -22px -1080px; width: 10px; height: 12px; }
.sprite-up_arrow{ background-position: -22px -1093px; width: 10px; height: 12px; }
.sprite-resize_small{ background-position: -22px -1106px; width: 14px; height: 14px; }
.sprite-resize_full{ background-position: -22px -1121px; width: 14px; height: 14px; }
.sprite-circle_arrow_left{ background-position: -22px -1136px; width: 15px; height: 15px; }
.sprite-circle_arrow_right{ background-position: -22px -1152px; width: 15px; height: 15px; }
.sprite-circle_arrow_top{ background-position: -22px -1168px; width: 15px; height: 15px; }
.sprite-circle_arrow_down{ background-position: -22px -1184px; width: 15px; height: 15px; }
.sprite-play_button{ background-position: -22px -1200px; width: 15px; height: 15px; }
.sprite-unshare{ background-position: -22px -1216px; width: 14px; height: 10px; }
.sprite-share{ background-position: -22px -1227px; width: 14px; height: 10px; }
.sprite-chevron-right{ background-position: -22px -1238px; width: 9px; height: 13px; }
.sprite-chevron-left{ background-position: -22px -1252px; width: 9px; height: 13px; }
.sprite-bluetooth{ background-position: -22px -1266px; width: 8px; height: 14px; }
.sprite-euro{ background-position: -22px -1281px; width: 13px; height: 13px; }
.sprite-usd{ background-position: -22px -1295px; width: 10px; height: 15px; }
.sprite-gbp{ background-position: -22px -1311px; width: 10px; height: 14px; }
.sprite-retweet_2{ background-position: -22px -1326px; width: 19px; height: 12px; }
.sprite-moon{ background-position: -22px -1339px; width: 12px; height: 14px; }
.sprite-sun{ background-position: -22px -1354px; width: 14px; height: 14px; }
.sprite-cloud{ background-position: -22px -1369px; width: 16px; height: 10px; }
.sprite-direction{ background-position: -22px -1380px; width: 15px; height: 15px; }
.sprite-brush{ background-position: -22px -1396px; width: 15px; height: 13px; }
.sprite-pen{ background-position: -22px -1410px; width: 13px; height: 13px; }
.sprite-zoom_in{ background-position: -22px -1424px; width: 15px; height: 15px; }
.sprite-zoom_out{ background-position: -22px -1440px; width: 15px; height: 15px; }
.sprite-pin{ background-position: -22px -1456px; width: 6px; height: 14px; }
.sprite-albums{ background-position: -22px -1471px; width: 16px; height: 10px; }
.sprite-rotation_lock{ background-position: -22px -1482px; width: 16px; height: 14px; }
.sprite-flash{ background-position: -22px -1497px; width: 8px; height: 14px; }
.sprite-google_maps{ background-position: -22px -1512px; width: 9px; height: 14px; }
.sprite-anchor{ background-position: -22px -1527px; width: 14px; height: 15px; }
.sprite-conversation{ background-position: -22px -1543px; width: 15px; height: 10px; }
.sprite-chat{ background-position: -22px -1554px; width: 14px; height: 11px; }
.sprite-male{ background-position: -22px -1566px; width: 13px; height: 13px; }
.sprite-female{ background-position: -22px -1580px; width: 9px; height: 16px; }
.sprite-asterisk{ background-position: -22px -1597px; width: 12px; height: 12px; }
.sprite-divide{ background-position: -22px -1610px; width: 10px; height: 9px; }
.sprite-snorkel_diving{ background-position: -22px -1620px; width: 16px; height: 15px; }
.sprite-scuba_diving{ background-position: -22px -1636px; width: 16px; height: 14px; }
.sprite-oxygen_bottle{ background-position: -22px -1651px; width: 13px; height: 16px; }
.sprite-fins{ background-position: -22px -1668px; width: 18px; height: 16px; }
.sprite-fishes{ background-position: -22px -1685px; width: 16px; height: 17px; }
.sprite-boat{ background-position: -22px -1703px; width: 14px; height: 14px; }
.sprite-delete{ background-position: -22px -1718px; width: 15px; height: 10px; }
.sprite-sheriffs_star{ background-position: -22px -1729px; width: 14px; height: 15px; }
.sprite-qrcode{ background-position: -22px -1745px; width: 14px; height: 14px; }
.sprite-barcode{ background-position: -22px -1760px; width: 14px; height: 14px; }
.sprite-pool{ background-position: -22px -1775px; width: 14px; height: 14px; }
.sprite-buoy{ background-position: -22px -1790px; width: 14px; height: 14px; }
.sprite-spade{ background-position: -22px -1805px; width: 14px; height: 14px; }
.sprite-bank{ background-position: -22px -1820px; width: 14px; height: 14px; }
.sprite-vcard{ background-position: -22px -1835px; width: 13px; height: 14px; }
.sprite-electrical_plug{ background-position: -22px -1850px; width: 10px; height: 15px; }
.sprite-flag{ background-position: -22px -1866px; width: 12px; height: 15px; }
.sprite-credit_card{ background-position: -22px -1882px; width: 15px; height: 11px; }
.sprite-keyboard_wireless{ background-position: -22px -1894px; width: 16px; height: 11px; }
.sprite-keyboard_wired{ background-position: -22px -1906px; width: 16px; height: 15px; }
.sprite-shield{ background-position: -22px -1922px; width: 13px; height: 14px; }
.sprite-ring{ background-position: -22px -1937px; width: 12px; height: 14px; }
.sprite-cake{ background-position: -22px -1952px; width: 13px; height: 14px; }
.sprite-drink{ background-position: -22px -1967px; width: 13px; height: 14px; }
.sprite-beer{ background-position: -22px -1982px; width: 13px; height: 14px; }
.sprite-fast_food{ background-position: -22px -1997px; width: 16px; height: 14px; }
.sprite-cutlery{ background-position: -44px 0; width: 8px; height: 14px; }
.sprite-pizza{ background-position: -44px -15px; width: 15px; height: 17px; }
.sprite-birthday_cake{ background-position: -44px -33px; width: 15px; height: 17px; }
.sprite-tablet{ background-position: -44px -51px; width: 15px; height: 15px; }
.sprite-settings{ background-position: -44px -67px; width: 14px; height: 14px; }
.sprite-bullets{ background-position: -44px -82px; width: 16px; height: 13px; }
.sprite-cardio{ background-position: -44px -96px; width: 15px; height: 15px; }
.sprite-pants{ background-position: -44px -112px; width: 11px; height: 14px; }
.sprite-sweater{ background-position: -44px -127px; width: 17px; height: 14px; }
.sprite-fabric{ background-position: -44px -142px; width: 16px; height: 13px; }
.sprite-leather{ background-position: -44px -156px; width: 13px; height: 14px; }
.sprite-scissors{ background-position: -44px -171px; width: 14px; height: 16px; }
.sprite-bomb{ background-position: -44px -188px; width: 16px; height: 15px; }
.sprite-skull{ background-position: -44px -204px; width: 13px; height: 14px; }
.sprite-celebration{ background-position: -44px -219px; width: 14px; height: 15px; }
.sprite-tea_kettle{ background-position: -44px -235px; width: 15px; height: 13px; }
.sprite-french_press{ background-position: -44px -249px; width: 13px; height: 15px; }
.sprite-coffe_cup{ background-position: -44px -265px; width: 15px; height: 11px; }
.sprite-pot{ background-position: -44px -277px; width: 16px; height: 13px; }
.sprite-grater{ background-position: -44px -291px; width: 10px; height: 14px; }
.sprite-kettle{ background-position: -44px -306px; width: 13px; height: 14px; }
.sprite-hospital{ background-position: -44px -321px; width: 14px; height: 14px; }
.sprite-hospital_h{ background-position: -44px -336px; width: 14px; height: 14px; }
.sprite-microphone{ background-position: -44px -351px; width: 10px; height: 14px; }
.sprite-webcam{ background-position: -44px -366px; width: 11px; height: 14px; }
.sprite-temple_christianity_church{ background-position: -44px -381px; width: 14px; height: 15px; }
.sprite-temple_islam{ background-position: -44px -397px; width: 15px; height: 14px; }
.sprite-temple_hindu{ background-position: -44px -412px; width: 14px; height: 14px; }
.sprite-temple_buddhist{ background-position: -44px -427px; width: 16px; height: 13px; }
.sprite-bicycle{ background-position: -44px -441px; width: 19px; height: 12px; }
.sprite-life_preserver{ background-position: -44px -454px; width: 14px; height: 14px; }
.sprite-share_alt{ background-position: -44px -469px; width: 13px; height: 13px; }
.sprite-comments{ background-position: -44px -483px; width: 14px; height: 13px; }
.sprite-flower{ background-position: -44px -497px; width: 11px; height: 15px; }
.sprite-baseball{ background-position: -44px -513px; width: 15px; height: 15px; }
.sprite-rugby{ background-position: -44px -529px; width: 13px; height: 14px; }
.sprite-ax{ background-position: -44px -544px; width: 16px; height: 14px; }
.sprite-table_tennis{ background-position: -44px -559px; width: 14px; height: 14px; }
.sprite-bowling{ background-position: -44px -574px; width: 14px; height: 14px; }
.sprite-tree_conifer{ background-position: -44px -589px; width: 12px; height: 14px; }
.sprite-tree_deciduous{ background-position: -44px -604px; width: 12px; height: 15px; }
.sprite-more_items{ background-position: -44px -620px; width: 12px; height: 14px; }
.sprite-sort{ background-position: -44px -635px; width: 15px; height: 15px; }
.sprite-filter{ background-position: -44px -651px; width: 12px; height: 14px; }
.sprite-gamepad{ background-position: -44px -666px; width: 16px; height: 11px; }
.sprite-playing_dices{ background-position: -44px -678px; width: 16px; height: 13px; }
.sprite-calculator{ background-position: -44px -692px; width: 12px; height: 14px; }
.sprite-tie{ background-position: -44px -707px; width: 6px; height: 15px; }
.sprite-wallet{ background-position: -44px -723px; width: 15px; height: 12px; }
.sprite-piano{ background-position: -44px -736px; width: 13px; height: 14px; }
.sprite-sampler{ background-position: -44px -751px; width: 16px; height: 13px; }
.sprite-podium{ background-position: -44px -765px; width: 16px; height: 12px; }
.sprite-soccer_ball{ background-position: -44px -778px; width: 15px; height: 15px; }
.sprite-blog{ background-position: -44px -794px; width: 12px; height: 13px; }
.sprite-dashboard{ background-position: -44px -808px; width: 14px; height: 14px; }
.sprite-certificate{ background-position: -44px -823px; width: 10px; height: 15px; }
.sprite-bell{ background-position: -44px -839px; width: 14px; height: 14px; }
.sprite-candle{ background-position: -44px -854px; width: 12px; height: 15px; }
.sprite-pushpin{ background-position: -44px -870px; width: 13px; height: 13px; }
.sprite-iphone_shake{ background-position: -44px -884px; width: 14px; height: 14px; }
.sprite-pin_flag{ background-position: -44px -899px; width: 17px; height: 13px; }
.sprite-turtle{ background-position: -44px -913px; width: 16px; height: 9px; }
.sprite-rabbit{ background-position: -44px -923px; width: 15px; height: 13px; }
.sprite-globe{ background-position: -44px -937px; width: 14px; height: 14px; }
.sprite-briefcase{ background-position: -44px -952px; width: 14px; height: 12px; }
.sprite-hdd{ background-position: -44px -965px; width: 14px; height: 12px; }
.sprite-thumbs_up{ background-position: -44px -978px; width: 14px; height: 12px; }
.sprite-thumbs_down{ background-position: -44px -991px; width: 14px; height: 12px; }
.sprite-hand_right{ background-position: -44px -1004px; width: 15px; height: 11px; }
.sprite-hand_left{ background-position: -44px -1016px; width: 15px; height: 11px; }
.sprite-hand_up{ background-position: -44px -1028px; width: 11px; height: 15px; }
.sprite-hand_down{ background-position: -44px -1044px; width: 11px; height: 16px; }
.sprite-fullscreen{ background-position: -44px -1061px; width: 14px; height: 14px; }
.sprite-shopping_bag{ background-position: -44px -1076px; width: 13px; height: 15px; }
.sprite-book_open{ background-position: -44px -1092px; width: 14px; height: 13px; }
.sprite-nameplate{ background-position: -44px -1106px; width: 14px; height: 12px; }
.sprite-nameplate_alt{ background-position: -44px -1119px; width: 14px; height: 13px; }
.sprite-vases{ background-position: -44px -1133px; width: 14px; height: 14px; }
.sprite-bullhorn{ background-position: -44px -1148px; width: 15px; height: 12px; }
.sprite-dumbbell{ background-position: -44px -1161px; width: 15px; height: 9px; }
.sprite-suitcase{ background-position: -44px -1171px; width: 14px; height: 13px; }
.sprite-file_import{ background-position: -44px -1185px; width: 13px; height: 14px; }
.sprite-file_export{ background-position: -44px -1200px; width: 13px; height: 14px; }
.sprite-bug{ background-position: -44px -1215px; width: 13px; height: 14px; }
.sprite-crown{ background-position: -44px -1230px; width: 15px; height: 15px; }
.sprite-smoking{ background-position: -44px -1246px; width: 16px; height: 16px; }
.sprite-cloud_upload{ background-position: -44px -1263px; width: 16px; height: 12px; }
.sprite-cloud_download{ background-position: -44px -1276px; width: 16px; height: 13px; }
.sprite-restart{ background-position: -44px -1290px; width: 15px; height: 15px; }
.sprite-security_camera{ background-position: -44px -1306px; width: 14px; height: 14px; }
.sprite-expand{ background-position: -44px -1321px; width: 11px; height: 11px; }
.sprite-collapse{ background-position: -44px -1333px; width: 11px; height: 11px; }
.sprite-collapse_top{ background-position: -44px -1345px; width: 11px; height: 11px; }
.sprite-globe_af{ background-position: -44px -1357px; width: 14px; height: 14px; }
.sprite-global{ background-position: -44px -1372px; width: 14px; height: 14px; }
.sprite-spray{ background-position: -44px -1387px; width: 13px; height: 16px; }
.sprite-nails{ background-position: -44px -1404px; width: 13px; height: 15px; }
.sprite-claw_hammer{ background-position: -44px -1420px; width: 16px; height: 15px; }
.sprite-classic_hammer{ background-position: -44px -1436px; width: 15px; height: 15px; }
.sprite-hand_saw{ background-position: -44px -1452px; width: 15px; height: 15px; }
.sprite-riflescope{ background-position: -44px -1468px; width: 15px; height: 15px; }
.sprite-electrical_socket_eu{ background-position: -44px -1484px; width: 13px; height: 13px; }
.sprite-electrical_socket_us{ background-position: -44px -1498px; width: 13px; height: 13px; }
.sprite-pinterest{ background-position: -44px -1512px; width: 14px; height: 14px; }
.sprite-dropbox{ background-position: -44px -1527px; width: 14px; height: 14px; }
.sprite-google_plus{ background-position: -44px -1542px; width: 14px; height: 14px; }
.sprite-jolicloud{ background-position: -44px -1557px; width: 14px; height: 14px; }
.sprite-yahoo{ background-position: -44px -1572px; width: 14px; height: 14px; }
.sprite-blogger{ background-position: -44px -1587px; width: 14px; height: 14px; }
.sprite-picasa{ background-position: -44px -1602px; width: 14px; height: 14px; }
.sprite-amazon{ background-position: -44px -1617px; width: 14px; height: 14px; }
.sprite-tumblr{ background-position: -44px -1632px; width: 14px; height: 14px; }
.sprite-wordpress{ background-position: -44px -1647px; width: 14px; height: 14px; }
.sprite-instapaper{ background-position: -44px -1662px; width: 14px; height: 14px; }
.sprite-evernote{ background-position: -44px -1677px; width: 14px; height: 14px; }
.sprite-xing{ background-position: -44px -1692px; width: 14px; height: 14px; }
.sprite-zootool{ background-position: -44px -1707px; width: 14px; height: 14px; }
.sprite-dribbble{ background-position: -44px -1722px; width: 14px; height: 14px; }
.sprite-deviantart{ background-position: -44px -1737px; width: 14px; height: 14px; }
.sprite-read_it_later{ background-position: -44px -1752px; width: 14px; height: 14px; }
.sprite-linked_in{ background-position: -44px -1767px; width: 14px; height: 14px; }
.sprite-forrst{ background-position: -44px -1782px; width: 14px; height: 14px; }
.sprite-pinboard{ background-position: -44px -1797px; width: 14px; height: 14px; }
.sprite-behance{ background-position: -44px -1812px; width: 14px; height: 14px; }
.sprite-github{ background-position: -44px -1827px; width: 14px; height: 14px; }
.sprite-youtube{ background-position: -44px -1842px; width: 14px; height: 14px; }
.sprite-skitch{ background-position: -44px -1857px; width: 14px; height: 14px; }
.sprite-4square{ background-position: -44px -1872px; width: 14px; height: 14px; }
.sprite-quora{ background-position: -44px -1887px; width: 14px; height: 14px; }
.sprite-badoo{ background-position: -44px -1902px; width: 14px; height: 14px; }
.sprite-spotify{ background-position: -44px -1917px; width: 14px; height: 14px; }
.sprite-stumbleupon{ background-position: -44px -1932px; width: 14px; height: 14px; }
.sprite-readability{ background-position: -44px -1947px; width: 14px; height: 14px; }
.sprite-facebook{ background-position: -44px -1962px; width: 14px; height: 14px; }
.sprite-twitter{ background-position: -44px -1977px; width: 14px; height: 14px; }
.sprite-instagram{ background-position: -44px -1992px; width: 14px; height: 14px; }
.sprite-posterous_spaces{ background-position: -66px 0; width: 14px; height: 14px; }
.sprite-vimeo{ background-position: -66px -15px; width: 14px; height: 14px; }
.sprite-flickr{ background-position: -66px -30px; width: 14px; height: 14px; }
.sprite-last_fm{ background-position: -66px -45px; width: 14px; height: 14px; }
.sprite-rss{ background-position: -66px -60px; width: 14px; height: 14px; }
.sprite-skype{ background-position: -66px -75px; width: 14px; height: 14px; }
.sprite-e-mail{ background-position: -66px -90px; width: 14px; height: 14px; } 

