// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.align-right{
  text-align: right;
}

body { padding-top: 60px; }

.margin-left{ margin-left: 10px;}

.align-center{ text-align: center; }

.hero-unit-custom{
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #627899, #8ea4b9);
  background-image: -ms-linear-gradient(top, #627899, #8ea4b9);
  background-image: -o-linear-gradient(top, #627899, #8ea4b9);
  background-image: -webkit-linear-gradient(top, #627899, #8ea4b9);
  background-image: linear-gradient(top, #627899, #8ea4b9);
  background-clip: padding-box;
}

.t_shirt{
  background-image: url("icon-t_shirt.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-bottom;
  width: 14px;
}

.t_shirt-white{
  background-image: url("icon-t_shirt-white.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-bottom;
  width: 14px;
}

.label-grey{
  font-size: 14px;
  font-weight: bold;

  background-image: linear-gradient(left , rgb(133,133,133) 1%, rgb(179,179,179) 48%, rgb(255,255,255) 85%);
  background-image: -o-linear-gradient(left , rgb(133,133,133) 1%, rgb(179,179,179) 48%, rgb(255,255,255) 85%);
  background-image: -moz-linear-gradient(left , rgb(133,133,133) 1%, rgb(179,179,179) 48%, rgb(255,255,255) 85%);
  background-image: -webkit-linear-gradient(left , rgb(133,133,133) 1%, rgb(179,179,179) 48%, rgb(255,255,255) 85%);
  background-image: -ms-linear-gradient(left , rgb(133,133,133) 1%, rgb(179,179,179) 48%, rgb(255,255,255) 85%);

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.01, rgb(133,133,133)),
    color-stop(0.48, rgb(179,179,179)),
    color-stop(0.85, rgb(255,255,255))
  );
}