// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.align-right{
  text-align: right;
}

body { padding-top: 60px; }

.margin-left{ margin-left: 10px;}

.align-center{ text-align: center; }

.hero-unit-custom{
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #627899, #8ea4b9);
  background-image: -ms-linear-gradient(top, #627899, #8ea4b9);
  background-image: -o-linear-gradient(top, #627899, #8ea4b9);
  background-image: -webkit-linear-gradient(top, #627899, #8ea4b9);
  background-image: linear-gradient(top, #627899, #8ea4b9);
  background-clip: padding-box;
}

.t_shirt{
  background-image: url("icon-t_shirt.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-bottom;
  width: 14px;
}

.t_shirt-white{
  background-image: url("icon-t_shirt-white.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-bottom;
  width: 14px;
}

.label-grey{
  font-weight: bold;
  padding: 7px;
  font-size: 12;
}

.center_select{
  margin-top: 2px;
  margin-left: 5px;
}

.loading{
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,
  color-stop(.25, rgba(0, 0, 0, .10)),
  color-stop(.25, transparent),
  color-stop(.5, transparent),
  color-stop(.5, rgba(0, 0, 0, .10)),
  color-stop(.75, rgba(0, 0, 0, .10)),
  color-stop(.75, transparent),
  to(transparent));
  background-image:
    -moz-linear-gradient(-45deg,
    rgba(0, 0, 0, .10) 25%,
    transparent 25%,
    transparent 50%, rgba(0, 0, 0, .10) 50%,
    rgba(0, 0, 0, .10) 75%,
    transparent 75%, transparent
    );
  background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-background-size: 50px 50px;
  -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -50px 0;
    }
}

.icon-load,
.btn.load [class^="icon-"],
.btn.load [class*=" icon-"] {
  background-image: url('/assets/loading.gif');
  background-position: 0px 0px;
  width: 14px;
  height: 14px;
}
.btn-primary .icon-load,
.btn-primary.load [class^="icon-"],
.btn-primary.load [class*=" icon-"] {
  background-image: url('/assets/loading-primary.gif');
}
.btn-info .icon-load,
.btn-info.load [class^="icon-"],
.btn-info.load [class*=" icon-"] {
  background-image: url('/assets/loading-info.gif');
}
.btn-success .icon-load,
.btn-success.load [class^="icon-"],
.btn-success.load [class*=" icon-"] {
  background-image: url('/assets/loading-success.gif');
}
.btn-warning .icon-load,
.btn-warning.load [class^="icon-"],
.btn-warning.load [class*=" icon-"] {
  background-image: url('/assets/loading-warning.gif');
}
.btn-danger .icon-load,
.btn-danger.load [class^="icon-"],
.btn-danger.load [class*=" icon-"] {
  background-image: url('/assets/loading-danger.gif');
}
.btn-inverse .icon-load,
.btn-inverse.load [class^="icon-"],
.btn-inverse.load [class*=" icon-"] {
  background-image: url('/assets/loading-inverse.gif');
}

.popover-content {
  font-size: 12px; /*or whatever size */
}

.table-no-border th, .table-no-border td {
  border-top: none;
}

.header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.headerSortUp {
  background-image: url(asc.gif);
}
.headerSortDown {
  background-image: url(desc.gif);
}

.er{
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
}

.total_cargo_cost {
  margin-right: 20px;
  margin-left: 20px;
  display: inline;
}

.pagination {
  margin: 0px;
}

[class^="status-"],
[class*=" status-"] {
  display: inline-block;
  width: 100px;
  height: 88px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 88px;
  vertical-align: text-top;
  background-image: url("/assets/status.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.status-PENDIENTE {
  background-position: -3px,      0;
}

.status-PROCESO {
  background-position: -118px      0;
}

.status-ENTREGADO {
  background-position: -230px      0;
}

.status-CERRADO {
  background-position: -348px      0;
}

.box {
  -webkit-box-shadow: 10px 7px 22px rgba(0, 0, 0, 0.61);
  -moz-box-shadow:    10px 7px 22px rgba(0, 0, 0, 0.61);
  box-shadow:         10px 7px 22px rgba(0, 0, 0, 0.61);
  background-color: #ececec;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.white-box {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 5px;
}

.label-big{
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.close-box {
  margin-top: 5px;
  margin-right: 10px;
}

.label-CERRADO{
  background-color: #3a87ad;
  font-size: 25px;
  line-height: 20px;
  padding: 6px 4px;
  vertical-align: middle;
  border-radius: 6px;
}

.label-PENDIENTE{
  background-color: #be0000;
  font-size: 25px;
  line-height: 20px;
  padding: 6px 4px;
  vertical-align: middle;
  border-radius: 6px;
}

.label-PROCESO{
  background-color: #f89406;
  font-size: 25px;
  line-height: 20px;
  padding: 6px 4px;
  vertical-align: middle;
  border-radius: 6px;
}

.label-ENTREGADO{
  background-color: #468847;
  font-size: 25px;
  line-height: 20px;
  padding: 6px 4px;
  vertical-align: middle;
  border-radius: 6px;
}

.modal-header{
  background-color: #f5f5f5;
  text-align: center;
  -moz-border-radius: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;

}

.note-box{
  background-color: #f5f5f5;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 8px;
  border-color: #000000;
  width: 96%;
}

.note-box p{
  background-color: white;
  padding: 6px;
  border-radius: 6px;
  width: 97%;
}

.note-box .detail{
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}

.note-box .span4{
  min-height: 5px;
}

[class^="courier-"],
[class*=" courier-"] {
  display: inline-block;
  width: 156px;
  height: 50px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 88px;
  vertical-align: text-top;
  background-image: url("/assets/courier.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.courier-DHL {
  background-position: 0px,      0;
}

.courier-FedEx {
  background-position: -156px      0;
}

.courier-UPS {
  background-position: -312px      0;
}

.courier-MARITIMO {
  background-position: -468px      0;
}

.courier-empty {
  background-position: -624px      0;
}

.label-status {
  vertical-align: middle;
  font-size: 22px;
  padding: 8px;
}

.label-element {
  font-size: 14px;
  padding: 4px;
}

.p-element {
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 4px;
  line-height: 20px;
}

.input-append .btn {
  border-radius: 0 8px 8px 0;
}

[class^="pr_status-"],
[class*=" pr_status-"] {
  display: inline-block;
  width: 240px;
  height: 90px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 90px;
  vertical-align: middle;
  background-image: url("/assets/estados.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.pr_status-Visto {
   background-position: 0px,      0;
 }

.pr_status-Pendiente {
  background-position: 240px 0;
}

.pr_status-Cerrado {
  background-position: -240px 0;
}

.pr_status-Rechazado {
  background-position: -480px 0;
}

.label-center {
  margin-bottom: 3px;
}

.quotation {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 95%;
  border-radius: 15px;
  margin-left: 20px;
  -webkit-box-shadow: 10px 7px 22px rgba(0, 0, 0, 0.61);
  -moz-box-shadow:    10px 7px 22px rgba(0, 0, 0, 0.61);
  box-shadow:         10px 7px 22px rgba(0, 0, 0, 0.61);
}

.quotation label {
  vertical-align: middle;
  margin-bottom: 9px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px;
  background-color: #565656;
}

.quotation p {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  width: 95%;
  box-shadow: 0 0 5px rgb(184, 184, 184);
  -webkit-box-shadow: 0 0 5px rgb(184, 184, 184);
  -moz-box-shadow: 0 0 5px rgb(184, 184, 184);
}

.quotation p.currency {
  display: inline;
  padding: 7px;
  vertical-align: middle;
  width: 50%;
}

.quotation label.currency {
  display: inline;
}

.quotation section {
  margin-bottom: 10px;
  //padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 97.5%;
  box-shadow: 0 0 5px rgb(184, 184, 184);
  -webkit-box-shadow: 0 0 5px rgb(184, 184, 184);
  -moz-box-shadow: 0 0 5px rgb(184, 184, 184);
}

.supplier {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 95%;
  border-radius: 15px;
  margin-left: 20px;
  -webkit-box-shadow: 10px 7px 22px rgba(0, 0, 0, 0.61);
  -moz-box-shadow:    10px 7px 22px rgba(0, 0, 0, 0.61);
  box-shadow:         10px 7px 22px rgba(0, 0, 0, 0.61);
}

.supplier label{
  vertical-align: middle;
  margin-bottom: 8px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  background-color: #565656;
}

.color0 {
  background-color: #f5f5f5;
}

.color1{
  background-color: #d4d4d4;
}

.selected {
  background-color: #f8d200;
}

.authorized_image {
  #display: inline-block;
  width: 180px;
  height: 55px;
  #margin-top: 1px;
  margin-right: 1em;
  line-height: 55px;
  #vertical-align: text-top;
  background-image: url("/assets/aprobado.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  float: right;
}

.table-hover tbody tr.row-warning:hover > td {
  color: #ffffff;
  text-decoration: none;
  background-color: #0ca400;
  background-image: -moz-linear-gradient(top, #07c700, #0ca400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07c700), to(#0ca400));
  background-image: -webkit-linear-gradient(top, #07c700, #0ca400);
  background-image: -o-linear-gradient(top, #07c700, #0ca400);
  background-image: linear-gradient(to bottom, #07c700, #0ca400);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.table-hover tbody tr.row-danger:hover > td {
  color: #ffffff;
  text-decoration: none;
  background-color: #8b0012;
  background-image: -moz-linear-gradient(top, #d10000, #8b0012);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d10000), to(#8b0012));
  background-image: -webkit-linear-gradient(top, #d10000, #8b0012);
  background-image: -o-linear-gradient(top, #d10000, #8b0012);
  background-image: linear-gradient(to bottom, #d10000, #8b0012);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.table tbody tr.row-danger > td {
  color: #8b0012;
  text-decoration: none;
  background-color: rgba(209, 0, 0, 0.30);
}

.pagination-hover {
  color: #FFFFFF;
  background-color: #1d1db8;
  background-image: -moz-linear-gradient(top, #51a0c7, #1d1db8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a0c7), to(#1d1db8));
  background-image: -webkit-linear-gradient(top, #51a0c7, #1d1db8);
  background-image: -o-linear-gradient(top, #51a0c7, #1d1db8);
  background-image: linear-gradient(to bottom, #51a0c7, #1d1db8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.label-Pendiente {
  background-color: #CC3300;
}

.label-Visto {
  background-color: #FF6600;
}

.label-Cotizando {
  background-color: #ff9c00;
}

.label-Esperando-Aprobación {
  background-color: #009fbc;
}

.label-Aprobado {
  background-color: #41b600;
}

.label-Pedido-Realizado {
  background-color: #669900;
}

.label-Cerrado {
  background-color: #426599;
}

.label-Rechazado {
  background-color: #800074;
}

.label-No-Entregado {
  background-color: #d10000;
}

input.error {
  box-shadow: 0 0 5px rgb(139, 0, 18);
  -webkit-box-shadow: 0 0 5px rgb(139, 0, 18);
  -moz-box-shadow: 0 0 5px rgb(139, 0, 18);
}

html {
  background: url("/assets/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered {
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  margin-top: -30px;
  padding: 10px 0 10px 0;
  border-radius: 20px;
}

div.inside_well label{
  margin-bottom: 0px;
  vertical-align: bottom;
  line-height: 16px;
  margin-top: 0px;
}